<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CrossBrowserTestSuite">
    <test name="ChromeTests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testPackage.VerifyShowMessage"/>
        </classes>
    </test>
    <test name="EdgeTests">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="testPackage.VerifyShowMessage"/>
        </classes>
    </test>
</suite>